---
import Layout from "../layouts/Layout.astro";
const data = Astro.props;
---

<Layout>
  <h1 id="title-menu"></h1>
  <!-- <h2>{data}</h2>
  {
    data.map((cat) => (
      <section>
        <h2>{cat.name}</h2>
        <ul>
          {cat.products.map((prod) => (
            <li>
              <strong>{prod.title}</strong>
              <br />
              Precio: {prod.prices.length ? prod.prices[0].serving_price : "—"}
              <br />
              Descuento:{" "}
              {prod.discount_prices.length
                ? prod.discount_prices[0].serving_disc_price
                : "—"}
            </li>
          ))}
        </ul>
      </section>
    ))
  } -->
</Layout>

<script>
  const res = await fetch("http://localhost:3000/api/menus");
  const data = await res.json();
  console.log("hjfasñjfasdfñlksdflsjdlfjlsjdflsdlfjsldajfñlsjdf");
  const title = document.getElementById("title-menu");
  title.innerHTML = "sapa <b>zorra</b>";
  console.log(title);
</script>
