<form
  method="POST"
  enctype="multipart/form-data"
  action="/backend/routes/agregarProducto.js"
>
  <input type="text" name="nombre" placeholder="Nombre" required />
  <input type="text" name="descripcion" placeholder="Descripción" />
  <input
    type="number"
    name="precio"
    placeholder="Precio"
    step="0.01"
    required
  />
  <input
    type="number"
    name="categoria_id"
    placeholder="ID de categoría"
    required
  />
  <input type="number" name="orden" placeholder="Orden en la categoría" />
  <input type="file" name="imagen" accept="image/*" />
  <button type="submit">Agregar producto</button>
</form>
