---
import data from "../../backend/data/data.json";
import Card from "./Card.astro";

const { category } = Astro.props;
const categoryItems = data[category]?.filter((item) => !item.hide) || [];
---

<div>
  <ul>
    {
      categoryItems.length > 0 ? (
        categoryItems.map((item) => (
          <li>
            <Card item={item} />
          </li>
        ))
      ) : (
        <li>No hay elementos en esta categoría</li>
      )
    }
  </ul>
</div>
