---
// src/pages/index.astro
import productos from "../../data/data.json";
---

<div>
  <ul>
    {
      productos.map((producto) => (
        <li key={producto.id}>
          {producto.nombre} - ${producto.precio}
        </li>
      ))
    }
  </ul>
</div>
